<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII Art Generator</title>
</head>
<body>
    <h1>ASCII Art Generator</h1>
    <pre>{{.Art1}}<br>{{.Art2}}<br>{{.Art3}}<br>{{.Art4}}<br>{{.Art5}}<br>{{.Art6}}<br>{{.Art7}}<br>{{.Art8}}</pre>
</body>
</html>