<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII Art Generator</title>
</head>
<body>
    <h1>ASCII Art Generator</h1>
    <pre>{{.Art1}}</pre>
    <pre>{{.Art2}}</pre>
    <pre>{{.Art3}}</pre>
    <pre>{{.Art4}}</pre>
    <pre>{{.Art5}}</pre>
    <pre>{{.Art6}}</pre>
    <pre>{{.Art7}}</pre>
    <pre>{{.Art8}}</pre>
</body>
</html>